# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# Editors
.vscode/
.idea/

# System files
Thumbs.db
